.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $grey_03_transparent;
}
.footer-links {
  display: flex;
  align-items: center;
  a {
    color: $aubergine;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
    &:hover {
      opacity: 1;
    }
  }
}
.footer .fa-heart {
  color: $light-red;
}

.footer-copyright {
  color: $aubergine
}
