// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$aubergine: #612147;
$turquoise: #7dd8c7;
$violet: #D59FCE;
$light-red: #D23333;
$rose: rgba(88,24,69,0.25);
$grey_07_transparent: rgba(0,0,0,0.7);
$grey_025_transparent: rgba(0,0,0,0.25);
$grey_06_transparent: rgba(0,0,0,0.6);
$grey_02_transparent: rgba(0,0,0,0.2);
$light-purple: rgba(88,24,69,0.2);
$grey_03_transparent: rgba(0,0,0,0.3);


